<script src="{{ 'popoca-simple-product-card.js' | asset_url }}" defer></script>

    {%- doc -%}
    This snippet is used to render a Popoca simple product card.
  @param {object} product - The product object
{%- enddoc -%}

{%- liquid 
    assign def_v = product.selected_or_first_available_variant
    assign cap = def_v.compare_at_price | default: 0 | plus: 0
    assign price = def_v.price | default: 0 | plus: 0
    assign inventory = def_v.inventory_quantity | default: 0 | plus: 0
-%}


<popoca-simple-product-card>
    <article
        data-popular-product-card
        data-product-id="{{ product.id }}"
        class="min-w-0 w-full shadow-[6px_8px_16px_rgba(0,0,0,0.3)] group"
    >
        <a href="{{ product.url | append: '?variant=' | append: def_v.id}}">
            <h2 class="p-1 font-squada text-3xl text-orange-500 bg-[#FFF5EC] border-t-4 border-orange-500 group-hover:text-[#FFF5EC] group-hover:bg-orange-500">{{ product.title }}</h2>
        </a>

        {% comment %} rendering heat level graphic {% endcomment %}
        <div class="relative">
            <div class="absolute top-0 left-0 p-1 z-20 bg-orange-500"> 
                {% render 'popoca-heat-level',
                    heat : product.metafields.custom.heat_level.value | default: 0 | plus: 0,
                    pixel_size: 18
                %}
            </div>
        </div>
        
        <div class="w-full aspect-[4/5] overflow-hidden relative cursor-pointer">
            <a
                href="{{ product.url | append: '?variant=' | append: def_v.id}}"
                data-product-link
                class="block w-full h-full"
            >
                {{ def_v.featured_media 
                    | image_url: width: 900 
                    | image_tag: class: 'w-full h-full object-cover object-bottom',
                    alt: product.title,
                    data-featured-image: 'true' 
                }}

                {{ def_v.metafields.custom.secondary_image
                    | image_url: width: 900 
                    | image_tag: class: 'w-full h-full object-cover object-center z-10 absolute inset-0 transition-opacity duration-300 opacity-0 hover:opacity-100',
                    alt: product.title,
                    data-secondary-image-el: 'true' 
                }}
            </a>
        </div>



        <div class="p-2 bg-[#FFF5EC] border-l-4 border-moss">

            <div>
                <span data-cap-el class="font-bold text-gray-400 text-sm line-through mr-2 {% unless cap > price %}hidden{% endunless %}">{{ cap | money }}</span>
                <span data-price-el class="font-bold text-2xl text-moss">{{ price | money }}</span>
            </div>

            <p class="font-fraunces text-moss">{{ product.metafields.custom.short_description | truncate: 100 }}</p>
            
            <div class="w-full flex justify-between my-3">
                {%- if product.variants.size > 1 -%}
                    <fieldset class="flex">
                        <legend class="sr-only">Choose a size</legend>

                        {%- for variant in product.variants -%}
                            {%- assign primary_url = variant.featured_media | default: product.featured_media | image_url: width: 900 -%}

                            {%- assign secondary_mf = variant.metafields.custom.secondary_image -%}
                            {%- if secondary_mf -%}
                                {%- assign secondary_url = secondary_mf.value | default: product.featured_media | image_url: width: 900 -%}
                            {%- else -%}
                                {%- assign secondary_url = '' -%}
                            {%- endif -%}
                            <div>
                                <input
                                    data-variant-radio
                                    type="radio"
                                    name="variant_{{ product.id }}"
                                    value="{{ variant.id }}"
                                    id="popoca-card-{{ variant.id }}"
                                    data-variant-id="{{ variant.id }}"
                                    class="sr-only peer"
                                    aria-label="{{ variant.name | default: variant.title }}"
                                    data-image="{{ primary_url }}"
                                    data-price-cents="{{ variant.price }}"
                                    data-price-money="{{ variant.price | money }}"
                                    data-compare-cents="{{ variant.compare_at_price }}"
                                    data-compare-money="{{ variant.compare_at_price | money}}"
                                    data-secondary-image="{{ secondary_url }}"
                                    data-variant-url="{{ product.url | append: '?variant=' | append: variant.id}}"
                                    data-variant-inventory="{{ variant.inventory_quantity }}"
                                    {% if forloop.first %}
                                        checked
                                    {% endif %}
                                >
                                <label
                                    for="popoca-card-{{ variant.id }}"
                                    class="font-sans cursor-pointer p-1 border-2 border-moss text-moss font-bold hover:text-white hover:bg-moss peer-checked:text-white peer-checked:bg-moss"
                                >
                                    {{ variant.title }}
                                </label>
                            </div>
                        {%- endfor -%}
                    </fieldset>
                {% endif %}
            </div>

            {% form 'product', product, class: 'mt-3 flex gap-3', data-product-form: true %}
                {%- comment -%} Hidden variant id (updated dynamically by JS) {%- endcomment -%}
                <input type="hidden" name="id" value="{{ def_v.id }}" data-add-variant-to-cart>
                <input type="hidden" name="quantity" value="1">            
                <button
                    type="submit"
                    name="add"
                    class="w-full text-left uppercase text-lg font-bold border-2 bg-orange-500 text-[#FFF5EC] border-orange-500 hover:bg-[#FFF5EC] hover:text-orange-500 p-1 flex justify-between items-center group/button"
                >
                    {{ 'products.product.add_to_cart' | t }}

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-5 h-5 fill-[#FFF5EC] group-hover/button:fill-orange-500 transition-colors duration-300">
                        <path d="M24 48C10.7 48 0 58.7 0 72C0 85.3 10.7 96 24 96L69.3 96C73.2 96 76.5 98.8 77.2 102.6L129.3 388.9C135.5 423.1 165.3 448 200.1 448L456 448C469.3 448 480 437.3 480 424C480 410.7 469.3 400 456 400L200.1 400C188.5 400 178.6 391.7 176.5 380.3L171.4 352L475 352C505.8 352 532.2 330.1 537.9 299.8L568.9 133.9C572.6 114.2 557.5 96 537.4 96L124.7 96L124.3 94C119.5 67.4 96.3 48 69.2 48L24 48zM208 576C234.5 576 256 554.5 256 528C256 501.5 234.5 480 208 480C181.5 480 160 501.5 160 528C160 554.5 181.5 576 208 576zM432 576C458.5 576 480 554.5 480 528C480 501.5 458.5 480 432 480C405.5 480 384 501.5 384 528C384 554.5 405.5 576 432 576z"/>
                    </svg>
                </button>
            {% endform %}
        </div>
    </article>
</popoca-simple-product-card>















{% comment %} <article
    data-popular-product-card
    data-product-id="{{ product.id }}"
    class="min-w-0 w-full shadow-md shadow-gray-400 bg-gray-50"
>
    <div class="w-full aspect-[2/3] overflow-hidden bg-gray-100 relative cursor-pointer">
        <a
            href="{{ product.url | append: '?variant=' | append: def_v.id}}"
            data-product-link
            class="block w-full h-full"
        >
            {{ def_v.featured_media 
                | image_url: width: 900 
                | image_tag: class: 'w-full h-full object-cover object-center',
                alt: product.title,
                data-featured-image: 'true' 
            }}

            {{ def_v.metafields.custom.secondary_image
                | image_url: width: 900 
                | image_tag: class: 'w-full h-full object-cover object-center z-10 absolute inset-0 transition-opacity duration-300 opacity-0 hover:opacity-100',
                alt: product.title,
                data-secondary-image-el: 'true' 
            }}
        </a>

        {%- comment -%} show / hide on sale info {%- endcomment -%}
        <div data-on-sale class="{% if cap <= price %}hidden {% endif %}absolute top-0 left-0 p-1 z-20 text-white text-center font-bold bg-orange-600">
            <p data-sale-badge class="text-xl">{{ 'content.product_badge_sale' | t}}</p>

            {%- comment -%} calculating percentage off {%- endcomment -%}
            {%- assign percent_off = cap | minus: price | times: 100.0 | divided_by: cap | round -%}
            <p data-percent-off class="text-xs">{{ percent_off }}% OFF</p>
        </div>

        {%- comment -%} show / hide low stock {%- endcomment -%}
        <div data-low-stock class="{% if inventory > 5 %}hidden {% endif %}text-white text-center z-20 absolute bottom-0 left-0 w-full bg-orange-600 p-1 font-bold">
            <p>{{ 'content.inventory_low_stock' | t}}</p>
        </div>

        {% comment %} rendering heat level graphic {% endcomment %}
         <div class="absolute top-1 right-1 z-20"> 
             {% render 'popoca-heat-level',
                 heat : product.metafields.custom.heat_level.value | default: 0 | plus: 0,
                 pixel_size: 24
             %}
         </div>
    </div>

    <div class="p-2">
        <a
            class="text-2xl text-orange-600 uppercase font-squada"
            href="{{ product.url | append: '?variant=' | append: def_v.id}}"
            data-product-link
        >
            {{ product.title }}
        </a>

        {%- if show_price == true -%}
            <p data-price-el class="font-bold text-md text-gray-600">{{ def_v.price | money }}</p>
        {%- endif -%}   


        <div class="w-full flex justify-between my-3">
            {%- if product.variants.size > 1 -%}
                <fieldset class="flex">
                    <legend class="sr-only">Choose a size</legend>

                    {%- for variant in product.variants -%}
                        {%- assign primary_url = variant.featured_media | default: product.featured_media | image_url: width: 900 -%}

                        {%- assign secondary_mf = variant.metafields.custom.secondary_image -%}
                        {%- if secondary_mf -%}
                            {%- assign secondary_url = secondary_mf.value | default: product.featured_media | image_url: width: 900 -%}
                        {%- else -%}
                            {%- assign secondary_url = '' -%}
                        {%- endif -%}
                        <div>
                            <input
                                type="radio"
                                name="variant_{{ product.id }}"
                                value="{{ variant.id }}"
                                id="popoca-card-{{ variant.id }}"
                                data-variant-id="{{ variant.id }}"
                                class="sr-only peer"
                                aria-label="{{ variant.name | default: variant.title }}"
                                data-variant-radio
                                data-image="{{ primary_url }}"
                                data-price-cents="{{ variant.price }}"
                                data-price-money="{{ variant.price | money }}"
                                data-compare-cents="{{ variant.compare_at_price }}"
                                data-secondary-image="{{ secondary_url }}"
                                data-variant-url="{{ product.url | append: '?variant=' | append: variant.id}}"
                                data-variant-inventory="{{ variant.inventory_quantity }}"
                                {% if forloop.first %}
                                    checked
                                {% endif %}
                            >
                            <label
                                for="popoca-card-{{ variant.id }}"
                                class="font-squada text-lg cursor-pointer p-1 border border-orange-600 text-orange-600 font-bold hover:text-white hover:bg-orange-600 peer-checked:text-white peer-checked:bg-orange-600"
                            >
                                {{ variant.title }}
                            </label>
                        </div>
                    {%- endfor -%}
                </fieldset>
            {% endif %}
   
        </div>

        {% form 'product', product, class: 'mt-3 flex items-center gap-3', data-product-form: true %}
            {%- comment -%} Hidden variant id (updated dynamically by JS) {%- endcomment -%}
            <input type="hidden" name="id" value="{{ def_v.id }}" data-add-variant-to-cart>
            <input type="hidden" name="quantity" value="1">            
            <button
                type="submit"
                name="add"
                class="uppercase font-squada text-lg border-2 text-orange-600 border-orange-600 hover:bg-orange-600 hover:text-gray-50 p-1"
            >
                {{ 'products.product.add_to_cart' | t }}
            </button>
        {% endform %}
    </div>
</article> {% endcomment %}
