<script src="{{ 'popoca-collection-filters.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="{{ 'popoca-main-collection.css' | asset_url }}">
{% assign current_sort = collection.sort_by | default: collection.default_sort_by %}


<section class="popoca-main-collection pb-10">

  <div class="mx-auto max-w-[1700px]">
    <div class="mx-10">
      <div class="mb-10">
        <h1 class="font-squada text-orange-500 text-[4rem] md:text-[10rem] -mb-3 md:-mb-7 relative md:-left-1">HOT SAUCE</h1>
        <hr class="border-t-4 border-orange-500">
        <h3 class="font-bold font-fraunces text-moss text-xl md:text-2xl mt-2">Discover our delicious range of heat levels and flavors!</h3>
      </div>

      <div data-collection-inner class="font-sans">
        <collection-filters data-section-id="{{ section.id }}">

          {% comment %} mobile filters button {% endcomment %}
          <button data-open-mobile-filters type="button" class="text-orange-500 inline-flex items-center gap-1 open-mobile-filters-button mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor" class="size-8">
              <path 
                d="M96 128C78.3 128 64 142.3 64 160C64 177.7 78.3 192 96 192L182.7 192C195 220.3 223.2 240 256 240C288.8 240 317 220.3 329.3 192L544 192C561.7 192 576 177.7 576 160C576 142.3 561.7 128 544 128L329.3 128C317 99.7 288.8 80 256 80C223.2 80 195 99.7 182.7 128L96 128zM96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L342.7 352C355 380.3 383.2 400 416 400C448.8 400 477 380.3 489.3 352L544 352C561.7 352 576 337.7 576 320C576 302.3 561.7 288 544 288L489.3 288C477 259.7 448.8 240 416 240C383.2 240 355 259.7 342.7 288L96 288zM96 448C78.3 448 64 462.3 64 480C64 497.7 78.3 512 96 512L150.7 512C163 540.3 191.2 560 224 560C256.8 560 285 540.3 297.3 512L544 512C561.7 512 576 497.7 576 480C576 462.3 561.7 448 544 448L297.3 448C285 419.7 256.8 400 224 400C191.2 400 163 419.7 150.7 448L96 448z"
              />
            </svg>
            <span class="ml-1 font-sans font-bold text-lg">FILTERS</span>
          </button>
          

            {% comment %} mobile filters slide {% endcomment %}
            <div class="mobile-filters-sorting" data-mobile-filters-sorting>
              <div class="flex justify-between bg-orange-500 py-3 items-center">
                <h2 class="text-2xl font-bold text-[#FFF5EC] ml-2">FILTER</h2>
                <button
                  data-popoca-mobile-filter-close
                  type="button"
                  class="z-[9999]"
                >
                  <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#FFF5EC" class="size-8 mr-2">
                    <path stroke-linecap="square" stroke-linejoin="square" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>


              {% comment %} sort component for mobile {% endcomment %}
              <div class="ml-2 mt-6">
                <fieldset>
                  <legend class="text-lg font-bold text-orange-500 underline">Sort By</legend>
                  <div class="ml-2">
                    {% for option in collection.sort_options %}
                      {% if option.value == 'manual'
                        or option.value == 'best-selling'
                        or option.value == 'price-ascending'
                        or option.value == 'price-descending'
                      %}
                      <div class="flex gap-2 items-center my-2">  
                        <input 
                          type="radio"
                          data-sort-radio
                          value="{{ option.value }}"
                          id="mobile-sort-{{ option.value }}"
                          name="mobile-sort"
                          class="
                              custom-sort-radio
                              h-4 w-4
                              appearance-none
                              border-2
                              border-moss
                              bg-transparent
                              cursor-pointer
                              relative"
                          {% if option.value == current_sort %}checked{% endif %}
                        >
                          <label 
                            for="mobile-sort-{{ option.value }}"
                            class="text-moss text-base cursor-pointer"
                          >
                            {% if option.value == 'manual' %}
                              Heat Level
                            {% else %}
                              {{ option.name }}
                            {% endif %}
                          </label>
                      </div>
                      {% endif %}
                    {%  endfor %}
                  </div>
                </fieldset>
              </div>

              {% comment %} filters component for mobile {% endcomment %}
              <div class="ml-2">
                {% for filter in collection.filters %}
                  <div class="my-6">
                    <h2 class="font-bold text-lg text-orange-500 underline">{{ filter.label }}</h2>
                    {% if filter.type == 'list' or filter.type == 'boolean' %}
                      {% for value in filter.values %}
                        <div class="my-2 ml-2 flex items-center gap-2">
                          <input
                            type="checkbox"
                            id="mobile-{{ filter.label | handle }}-{{ value.value | handle }}"
                            name="{{ filter.label | handle }}"
                            value="{{ value.value | handle }}"
                            data-add-url="{{ value.url_to_add }}"
                            data-remove-url="{{ value.url_to_remove }}"
                            data-filter-input
                            class="
                              custom-checkbox
                              h-4 w-4
                              appearance-none
                              rounded-none
                              border-2
                              border-moss
                              bg-transparent
                              align-middle
                              cursor-pointer
                              relative
                            "
                            {% if value.active %}
                              checked
                            {% endif %}
                          >
                          <label
                            for="mobile-{{ filter.label | handle }}-{{ value.value | handle }}"
                            class="text-moss text-base cursor-pointer"
                          >
                              {% if filter.label == "Heat Level" %}
                                      {% render 'popoca-heat-level-filter', heat: value.value, pixel_size: 20 %}
                                  {% else %}
                                      {{ value.label }}
                              {% endif %}
                          </label>
                        </div>
                      {% endfor %}

                    {% comment %} range filter for mobile {% endcomment %}
                    {% else %}
                      {% if filter.min_value.value %}
                        {% assign min_value = filter.min_value.value | divided_by: 100.0 %}
                      {% else %}
                        {% assign min_value = 0.0 %}
                      {% endif %}

                      {% if filter.max_value.value %}
                        {% assign max_value = filter.max_value.value | divided_by: 100.0 %}
                      {% else %}
                        {% assign max_value = filter.range_max | divided_by: 100.0 %}
                      {% endif %}
                      <div class="w-[100%] max-w-[250px] ml-2" data-price-range-group>
                          <div class="flex justify-between items-center font-sans font-semibold text-moss text-sm">
                              <span>${{ min_value | round }}</span>
                              <span >${{ max_value | round }}</span>
                          </div>
                        
                          <div class="price-range-shell">
                              <div class="price-range-track"></div>
                              <input
                                  type="range"
                                  id="mobile-{{ filter.min_value.param_name }}"
                                  name="mobile-{{ filter.min_value.param_name }}"
                                  min="0"
                                  max="{{ filter.range_max | divided_by: 100 | round | plus: 1 }}"
                                  value="{{ min_value }}"
                                  data-param="{{ filter.min_value.param_name }}"
                                  data-filter-input
                                  data-min-value
                                  class="custom-range custom-range-min"
                              >
                              <input
                                  type="range"
                                  id="mobile-{{ filter.max_value.param_name }}"
                                  name="mobile-{{ filter.max_value.param_name }}"
                                  min="0"
                                  max="{{ filter.range_max | divided_by: 100 | round | plus: 1 }}"
                                  value="{{ max_value }}"
                                  data-param="{{ filter.max_value.param_name }}"
                                  data-filter-input
                                  data-max-value
                                  class="custom-range custom-range-max"
                              >
                          </div>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>






          {% comment %} DESKTIOP --- sorting component {% endcomment %}
          <div class="justify-end items-center mb-4 gap-2 sorting-desktop">
            <h2 class="text-xl font-bold text-orange-500">SORT</h2>
            <select
              name="{{ section.id }}-sort" 
              id="{{ section.id }}-sort"
              class="bg-[#FFF5EC] font-sans font-bold text-orange-600 p-1 focus-visible:outline-none cursor-pointer border-t-[3px] border-orange-500"
              data-sort-select
            >
              {% for option in collection.sort_options %}
                {% if option.value == 'manual'
                  or option.value == 'best-selling'
                  or option.value == 'price-ascending'
                  or option.value == 'price-descending'
                %}
                  <option 
                    value="{{ option.value }}" 
                    {% if option.value == current_sort %}selected{% endif %}
                  >
                    {% if option.value == 'manual' %}
                      Heat Level
                    {% else %}
                      {{ option.name }}
                    {% endif %}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          {% comment %} flex holding fitlers and products {% endcomment %}
          <div class="flex">

            {% comment %}desktop filters{% endcomment %}
            <div class="mr-10 min-w-[200px] filters-desktop">
              <div>
                <h2 class="text-2xl font-bold text-orange-500 -mb-1">FILTERS</h2>
                <hr class="border-t-[3px] border-orange-500">
              </div>
              {% for filter in collection.filters %}
                <div class="my-6">
                  <div class="text-moss text-xl font-bold">
                    {{ filter.label }}
                    <hr class="border-t-[3px] border-moss relative -top-1">
                  </div>

                  {% if filter.type == 'list' or filter.type == 'boolean' %}
                    {% for value in filter.values %}
                      <div class="my-1 flex items-center gap-2">
                        <input
                          type="checkbox"
                          id="{{ filter.label | handle }}-{{ value.value | handle }}"
                          name="{{ filter.label | handle }}"
                          value="{{ value.value | handle }}"
                          data-add-url="{{ value.url_to_add }}"
                          data-remove-url="{{ value.url_to_remove }}"
                          data-filter-input
                          class="
                            custom-checkbox
                            h-4 w-4
                            appearance-none
                            rounded-none
                            border-[3px]
                            border-moss
                            bg-transparent
                            align-middle
                            cursor-pointer
                            relative
                          "
                          {% if value.active %}
                            checked
                          {% endif %}
                        >
                        <label
                          for="{{ filter.label | handle }}-{{ value.value | handle }}"
                          class="text-moss text-base cursor-pointer"
                        >
                            {% if filter.label == "Heat Level" %}
                                    {% render 'popoca-heat-level-filter', heat: value.value, pixel_size: 20 %}
                                {% else %}
                                    {{ value.label }}
                            {% endif %}
                        </label>
                      </div>
                    {% endfor %}
                  {% else %}


                    {% if filter.min_value.value %}
                      {% assign min_value = filter.min_value.value | divided_by: 100.0 %}
                    {% else %}
                      {% assign min_value = 0.0 %}
                    {% endif %}

                    {% if filter.max_value.value %}
                      {% assign max_value = filter.max_value.value | divided_by: 100.0 %}
                    {% else %}
                      {% assign max_value = filter.range_max | divided_by: 100.0 %}
                    {% endif %}
                    <div data-price-range-group>
                        <div class="flex justify-between items-center font-sans font-semibold text-moss text-sm mb-2">
                            <span>${{ min_value | round }}</span>
                            <span >${{ max_value | round }}</span>
                        </div>
                        <div class="price-range-shell">
                            <div class="price-range-track"></div>
                            <input
                                type="range"
                                id="{{ filter.min_value.param_name }}"
                                name="{{ filter.min_value.param_name }}"
                                min="0"
                                max="{{ filter.range_max | divided_by: 100 | round | plus: 1 }}"
                                value="{{ min_value }}"
                                data-param="{{ filter.min_value.param_name }}"
                                data-filter-input
                                data-min-value
                                class="custom-range custom-range-min"
                            >
                            <input
                                type="range"
                                id="{{ filter.max_value.param_name }}"
                                name="{{ filter.max_value.param_name }}"
                                min="0"
                                max="{{ filter.range_max | divided_by: 100 | round | plus: 1 }}"
                                value="{{ max_value }}"
                                data-param="{{ filter.max_value.param_name }}"
                                data-filter-input
                                data-max-value
                                class="custom-range custom-range-max"
                            >
                        </div>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>{% comment %}filters{% endcomment %}


            {% comment %} ----PRODUCT GRID---- {% endcomment %}
            <div class="[display:grid] gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-start">
              {% for product in collection.products %}
                {% render 'popoca-simple-product-card', product: product %}
              {% endfor %}
            </div>

          </div>{% comment %} flex holding fitlers and products {% endcomment %}

        </collection-filters>
      </div>{% comment %}data-collection-inner {% endcomment %}


    </div>
  </div>
</section>


{% schema %}
{
  "name": "Popoca-Main-Collection",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Popoca-Main-Collection"
    }
  ]
}
{% endschema %}